<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"
    integrity="sha512-XHDcSyqhOoO2ocB7sKOCJEkUjw/pQCJViP1ynpy+EGh/LggzrP6U/V3a++LQTnZT7sCQKeHRyWHfhN2afjXjCg=="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css"
    integrity="sha512-NJXM8vzWgDcBy9SCUTJXYnNO43sZV3pfLWWZMFTuCtEUIOcznk+AMpH6N3XruxavYfMeMmjrzDMEQ6psRh/6Hw=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css"
    integrity="sha512-8OVtKyemDe8Koi/74dnSJughhkwnzqq217zUtUumyvx0Z0kF6H0YYFobH2kEYjKMNq2xNQyN64dnleqecTSL0A=="
    crossorigin="anonymous" />
</head>

<body>
  <div class="content">
    <input type="text" id="start" placeholder="Origem" />
    <input type="text" id="goal" placeholder="Destino" />
    <button onclick="solve()">Buscar caminho</button>
    <button onclick="createTree()">Gerar novo Grafo</button>
    <p id="msg"></p>

    <div id="mynetwork"></div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8">
    let socket = io();
    socket.on('frequencies', function (data) {
      console.log([...data.frequencies])
      createTree(data.frequencies);
    });
  </script>

  <script>
    var nodes = []
    var edges = []
    var object = [
    ]
    var languages = [];
    var network = {};
    var vis_edges = {};
    var vis_nodes = {};

    // window.onload = function () {
    //   createTree()
    // }

    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    function solve() {
      socket.emit('solve', { word: 'universidade' });
    }

    async function createTree(frequencies) {
      edges = [];

      nodes = [

      ];

      for (let i = 0; i < frequencies.length; i++) {
        nodes.push({
          id: frequencies[i][0],
          label: `${frequencies[i][0]} ${frequencies[i][1]}`,
        })
      }

      vis_nodes = new vis.DataSet(nodes);
      vis_edges = new vis.DataSet(edges);



      var container = document.getElementById('mynetwork');
      var data = {
        nodes: vis_nodes,
        edges: vis_edges
      };

      var options = {
        height: "600px",
        clickToUse: false,
        interaction: { zoomView: false },
        layout: {
          hierarchical: {
            direction: "UD",
            sortMethod: "directed",
            nodeSpacing: 250,
            levelSeparation: 300
          }
        },
        interaction: { dragNodes: false },
        physics: {
          enabled: false
        }
      };
      network = new vis.Network(container, data, options);


      await sleep(2000);

      while (frequencies.length > 1) {

        let node1 = frequencies[0];
        let node2 = frequencies[1];

        let parent_node = {
          id: frequencies[0][0] + frequencies[1][0],
          label: (frequencies[0][1] + frequencies[1][1]).toString()
        };
        console.log([...frequencies]);

        frequencies.push([node1[0] + node2[0], node1[1] + node2[1]])
        nodes.push(parent_node)

        frequencies.splice(0,2);


        edges.push({
          from: parent_node.id,
          to: node1[0]
        });

        edges.push({
          from: parent_node.id,
          to: node2[0]
        });


        let data_nodes = new vis.DataSet(nodes);
        let data_edges = new vis.DataSet(edges);
        

        network.setData({nodes: data_nodes, edges: data_edges});
        network.redraw();
        frequencies.sort((a,b) => {
          if (a[1] < b[1]) return -1;
          if (a[1] > b[1]) return 1;
          return 0;
        })
        await sleep(1000);
      }
    }

  </script>

</body>

</html>
<style>
  #msg {
    font-family: Sans-serif;
    color: red;
    margin-top: -6px;
    font-size: 13px;
  }

  .content {
    width: 80%;
    margin: auto;
  }

  button {
    background-color: #4CAF50;
    border: none;
    border-radius: 38px;
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  h2,
  p {
    font-family: Sans-serif;
  }
</style>