<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"
    integrity="sha512-XHDcSyqhOoO2ocB7sKOCJEkUjw/pQCJViP1ynpy+EGh/LggzrP6U/V3a++LQTnZT7sCQKeHRyWHfhN2afjXjCg=="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css"
    integrity="sha512-NJXM8vzWgDcBy9SCUTJXYnNO43sZV3pfLWWZMFTuCtEUIOcznk+AMpH6N3XruxavYfMeMmjrzDMEQ6psRh/6Hw=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css"
    integrity="sha512-8OVtKyemDe8Koi/74dnSJughhkwnzqq217zUtUumyvx0Z0kF6H0YYFobH2kEYjKMNq2xNQyN64dnleqecTSL0A=="
    crossorigin="anonymous" />
</head>

<body>
  <div class="content">
    <input type="text" id="start" placeholder="Frase" />
    <button onclick="solve()">Codificar</button>
    <p id="msg"></p>

    <div id="mynetwork"></div>
    <div id="div-table"></div>
  </div>


  <script>
    var nodes = []
    var edges = []
    var object = [
    ]
    var languages = [];
    var network = {};
    var vis_edges = {};
    var vis_nodes = {};


    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    function solve() {
      const word = document.getElementById('start').value;
      const frequencies = getFrequencies(word);
      createTree(frequencies)
    }

    function getFrequencies(string) {
      let freq = {}

      for (let c of string) {
        console.log(c)
        if (c in freq) {
          freq[c] += 1
        } else {
          freq[c] = 1
        }
      }

      console.log(freq)

      let items = Object.keys(freq).map((key) => {
        return [key, freq[key]];
      })

      items.sort((first, second) => {
        return second[1] - first[1];
      })

      console.log(items)
      return items
    }

    async function createTree(frequencies) {

      let codes = {};

      edges = [];

      nodes = [];

      for (let i = 0; i < frequencies.length; i++) {
        codes[frequencies[i][0]] = '';

        nodes.push({
          scaling: {
            min: 20
          },
          id: frequencies[i][0],
          label: `${frequencies[i][0]} ${frequencies[i][1]}`,
        })
      }

      vis_nodes = new vis.DataSet(nodes);
      vis_edges = new vis.DataSet(edges);

      var container = document.getElementById('mynetwork');
      var data = {
        nodes: vis_nodes,
        edges: vis_edges
      };

      var options = {
        height: "1200px",
        clickToUse: false,
        interaction: { zoomView: false },
        layout: {
          hierarchical: {
            direction: "UD",
            sortMethod: "directed",
            nodeSpacing: 250,
            levelSeparation: 300
          }
        },
        interaction: { dragNodes: false },
        physics: {
          enabled: false
        }
      };
      network = new vis.Network(container, data, options);


      await sleep(1);

      while (frequencies.length > 1) {

        let node1 = frequencies[0];
        let node2 = frequencies[1];

        let parent_node = {
          id: frequencies[0][0] + frequencies[1][0],
          label: (frequencies[0][1] + frequencies[1][1]).toString()
        };
        console.log([...frequencies]);

        frequencies.push([node1[0] + node2[0], node1[1] + node2[1]])
        nodes.push(parent_node)

        frequencies.splice(0,2);


        edges.push({
          from: parent_node.id,
          to: node1[0],
          label: '0'
        });

        edges.push({
          from: parent_node.id,
          to: node2[0],
          label: '1'
        });

        for (i = 0; i < node1[0].length; i++) {
          let char = node1[0].charAt(i);
          codes[char] += '0';
        }

        for (i = 0; i < node2[0].length; i++) {
          let char = node2[0].charAt(i);
          codes[char] += '1';
        }

        let data_nodes = new vis.DataSet(nodes);
        let data_edges = new vis.DataSet(edges);
        

        network.setData({nodes: data_nodes, edges: data_edges});
        network.redraw();
        frequencies.sort((a,b) => {
          if (a[1] < b[1]) return -1;
          if (a[1] > b[1]) return 1;
          return 0;
        })
        await sleep(1);
      }
      generateCodesTable(codes);
    }

    function generateCodesTable(codes) {
      let table = document.getElementsByTagName('table');
            
      if(table.length){
          table[0].parentNode.removeChild(table[0])
      }

      let keys = Object.keys(codes);

      const body = document.getElementById('div-table');
      table = document.createElement('table');
      const tbody = document.createElement('tbody');

      const headerRow = document.createElement('tr');
      const headerLetter = document.createElement('th');
      headerLetter.innerHTML = "Letra";

      const headerCode = document.createElement('th');
      headerCode.innerHTML = "Código";

      headerRow.appendChild(headerLetter)
      headerRow.appendChild(headerCode)

      tbody.appendChild(headerRow)

      for (let i = 0; i < keys.length; i++) {
        const tr = document.createElement('tr');
        const letterTd = document.createElement('td');

        letterTd.innerHTML = keys[i];

        const codeTd = document.createElement('td');
        codeTd.innerHTML = codes[keys[i]];

        tr.appendChild(letterTd);
        tr.appendChild(codeTd);
        tbody.appendChild(tr);
      }
      table.appendChild(tbody);
      body.appendChild(table);
    }
  </script>

</body>

</html>
<style>
  #msg {
    font-family: Sans-serif;
    color: red;
    margin-top: -6px;
    font-size: 13px;
  }

  table {
    border: 1px solid black;
  }

  .content {
    width: 80%;
    margin: auto;
  }

  button {
    background-color: #4CAF50;
    border: none;
    border-radius: 38px;
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  h2,
  p {
    font-family: Sans-serif;
  }
</style>